<nav class="path" *ngIf="model.detailed && model.tree.path">
  <div *ngFor="let item of model.tree.path;let i=index">
    <a *ngIf="item.code != model.tree.classificator.id" class="node" [style.margin-left.px]="i*10"  (click)="onPathClick(item.code)">
      <md-icon>keyboard_arrow_right</md-icon>&nbsp;<span class="code">{{item.code}}</span> {{item.name}}
    </a>
  </div>
</nav>
<div *ngIf="model.detailed && model.tree">
  <h2>{{model.tree.classificator.code}} {{model.tree.classificator.name}}</h2>
  {{model.tree.classificator.notes}}

  <h3>Связи</h3>
  <div *ngIf="model.tree.classificator.links && model.tree.classificator.links.length > 0" class="links">
    <div *ngFor="let links of model.tree.classificator.links | mapIterable">
      <div class="section">{{links.key}}</div>
      <span *ngFor="let link of links.val">
        <span class="name">{{link.name}}</span>
        <span class="href code" (click)="toTree(links.key, link.code)">{{link.code}}</span>
      </span>
    </div>
  </div>

</div>

<tree-view *ngIf="!model.detailed" (nodeClick)="onNodeClick($event)" (nodeDetail)="onNodeDetail($event)"  [model]="model.tree"></tree-view>

