.path .node {
  cursor: pointer;
  color: #039be5;
}

.path .node:hover {
  color: #336699;
}

.path {
  margin-top: 20px;
  font-size: 9pt
}

.path a {
  margin: 0;
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.path .material-icons {
  font-size: 9pt;
}

.path md-icon {
  width: 15px;
  height: inherit;
}

.path .code {
  font-weight: bold
}

.tree {
  position:  relative;
}