<div *ngIf="model.hasNodes" class="list-item">
    <span [style.margin-left.px]="level*20"></span>
    <md-icon *ngIf="!model.expanded">expand_more</md-icon>
    <md-icon *ngIf="model.expanded">expand_less</md-icon>
    <span class="code">{{model.classificator.code}}</span> {{model.classificator.name}}
    <md-icon class="todetail" (click)="onNodeDetail(model.id)">fullscreen</md-icon>
</div>
<div *ngIf="!model.hasNodes" class="list-item">
    <span [style.margin-left.px]="level*20"></span>
    <span class="no-icon"></span>
    <span class="code">{{model.classificator.code}}</span> {{model.classificator.name}}
    <md-icon class="todetail" (click)="onNodeDetail(model.id)">fullscreen</md-icon>

</div>