<nav class="path" *ngIf="model.detailed && model.tree.path">
  <div *ngFor="let item of model.tree.path;let i=index">
    <a class="node" [style.margin-left.px]="i*10"  (click)="onPathClick(item[0])">
      <md-icon>keyboard_arrow_right</md-icon>&nbsp;<span class="code">{{item[0]}}</span> {{item[1]}}
    </a>
  </div>
</nav>
<div *ngIf="model.detailed && model.tree">
  <h2>{{model.tree.id}} {{model.tree.name}}</h2>
  {{model.tree.notes}}
</div>
<tree-view (nodeClick)="onNodeClick($event)" [model]="model.tree"></tree-view>
