Поиск по ОКПД
<md-input [(ngModel)]="query" placeholder="Полнотекстовый поиск"></md-input>
<button md-button (click)="search()">Искать</button>

<md-tab-group class="demo-tab-group" (selectChange)="onSelectChange($event)">
  <md-tab *ngFor="let clsfType of classificatorTypes">
    <template md-tab-label>{{clsfType.name}}</template>
      <table class="search-result" *ngIf="searchResult">
        <tr>
          <th>Код</th>
          <th>Наименование</th>
          <th>Связи</th>
        </tr>
        <tr *ngFor="let item of  searchResult">
          <td class="code">{{item.code}}</td>
          <td class="name"><span [innerHTML]="highlight(item.name)"></span></td>
          <td class="">
            <span *ngFor="let links of item.links | mapIterable">
               <span *ngFor="let link of links.val">
                 {{links.key}}:  {{link.name}}
                  <span class="href" (click)="toTree(links.key, link.code)">{{link.code}}</span>
               </span>
              <br><br>
            </span>
          </td>
        </tr>
      </table>
      <div class="loading" *ngIf="searching"></div>
  </md-tab>

</md-tab-group>
